SECRET_KEY = 'django-insecure-ts4@-$o!n+9bwe@bc*aoe=q3tdv8a$11^8#s==8q2&5obbbk#h'
DEBUG = True
DB_NAME=taskmanager
DB_USER=taskmanager_user
DB_PASSWORD=Hoshiarpur@123
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=singhmanjot254406@gmail.com
EMAIL_HOST_PASSWORD=olkapnipkseafsui

REDIS_URL=redis://127.0.0.1:6379/1