web: gunicorn taskManagerAPI.wsgi:application --bind 0.0.0.0:$PORT
release: python manage.py migrate
worker: celery -A taskManagerAPI worker --loglevel=info --pool=solo
beat: celery -A taskManagerAPI beat --loglevel=info